#Formato para os dados
mask:
 string:
  date='99/99/9999'
  time='99:99:99'
  cpf='999.999.999-99'
  tel='(99)9999-9999'
  cep='99999-999'
 numeric:
  real='R$'
  dolar='US$'
  euro='euro'
  deciaml=null

#Mensagens para validação dos campos
validation_mensages:
 date='Data inválida.'
 cpf='Número de cpf inválido.'
 email='E-mail inválido.'
 url='Url inválida.'
 is_null='Este campo é obrigatório.'
 int='Este campo só aceita números inteiros.'
 decimal='Este camos só aceita valores decimais'
 min='O valor deste campo não pode ser menor que ?.'
 max='O valor deste campo não pode ser maior que ?.'
 min_len='Quantidade de caracteres menor que ?.'
 max_len='Número de caracteres maior que ?.'
 uniqe='Valor já existente escolha outro.'
 equal='Deve ser igual à ?.'
 captcha='Código de segurança inválido.'
