

#lista-temporada table{
    width: 100%;
}
#lista-temporada th, .legenda_azul{
    padding: 3px 8px;
    text-align: left;
    background: #254252 url('../images/fundo_lista_top2.gif') bottom repeat-x;
    font-size: 12px;
    color: #5cafc9;
}

#lista-temporada .cel-temporada{
    width: 450px;
    font-size: 14px;
    background: #4884a6 url('../images/fundo_lista_top.gif') bottom repeat-x;
    color:#cee4ec;
    text-shadow: -1px 0px #555555;
}
#lista-temporada td{
    background-color: #5e6b72;
    font-size: 11px;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    padding-left: 8px;
    border-top: 1px solid #485857;
}

#lista-temporada .cel-temporada2{
    background-color: #c9cdcf;
    font-size: 14px;
    color:#333;
    text-shadow: -1px -1px #dddddd;
    padding: 0px;
    border-top: 1px solid #888;
    width: 430px;
}

#lista-temporada .cel-temporada2 a, #lista-temporada .cel-temporada4 a{
    padding-left: 8px;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    display: block;
    line-height: 26px;
    border-bottom: 1px solid #cbcbcb;
}

#lista-temporada .cel-temporada2 a:hover, #lista-temporada .cel-temporada4 a:hover{
    background-color: #ddd;
}

#lista-temporada .cel-temporada4{
    background-color: #b4ce95;
    font-size: 14px;
    color:#333;
    text-shadow: -1px -1px #dddddd;
    padding: 0px;
}

#lista-temporada .cel-temporada3{
    font-size: 14px;
    background-color: #85898c;
    text-shadow:-1px -1px #a1a1a1;
    color: #222;
    border-bottom: 1px solid #777777;
    padding: 0px;
}
#lista-temporada .cel-temporada3 div{
    line-height: 26px;
    padding-left: 8px;
}
#acesso{
    width: 120px;
}
#acesso span{
    font-weight: bold;
    padding-left: 20px;
    line-height: 24px;
    vertical-align: middle;
    background: url("../images/icons/book_open.png") left no-repeat;
}

#countdown_dashboard {
    width: 210px;
    text-align: center;
    background-color: #292929;
    border: 1px solid #333;
    margin: 0 auto;
    padding-bottom: 3px;
}

.dash {
    width: 40px;
    height: 29px;
    background:#000;
    float: left;
    margin-left: 10px;
    position: relative;
    margin-bottom: 2px;

}

.dash .digit {
    position:relative;
    float: left;
    font-size: 10pt;
    font-weight: bold;
    width: 20px;
    text-align: center;
    color: #555;
    position: relative;
    color: #fff;
    background: #000;
}

.dash_title {
    position:absolute;
    top:16px;
    float: left;
    display: block;
    width: 40px;
    bottom: 0px;
    font-size: 7pt;
    color: #555;
    text-align: center;
    background-color: #111;
    color: #fff;
}
.legenda_azul{
    margin-bottom: 3px;
    font-weight: bold;
}

#lista_usuario table{
    float: left;
    width: 370px;
    display: block;
}

#lista_usuario .novo_usuario{
    margin-left: 20px;
}

#lista_usuario td{
    padding:0px;
    line-height: 16px;
}
#lista_usuario a, td .lista_perfil a{
    padding:0px;
    margin: 0px;
    font-weight: normal;
        color: #333;
}

#lista_usuario img{
    float: left;
    margin-right: 5px;
}
#lista_usuario .lista_usuario_detalhe, td .lista_perfil{
    margin: 4px;
    height: 50px;
    background-color: #c9cdcf;
    text-shadow:-1px -1px #ddd;
    border: 1px solid #485857;
}

td .lista_perfil{
    float: left;
    width: 99px;
    height: 80px;
    text-align: center;
    padding: 5px 0;
    overflow:hidden;
}